.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px ;
    border-bottom: 1px ridge ;
    min-height: 400px;
}

.footer {
    background-color : #D1C4E9 ;
    margin:  0px auto;
    padding: 20px 0px 20px 0px ;
}

.row-contact {
    margin: 0px auto;
    border-bottom: 1px ridge ;
    max-width: 100%;
}

.jumbotron {
    padding: 70px 30px 70px 30px ;
    margin: 0px auto ;
    background: #9575CD ;
    color: floralwhite ;
}

address {
    font-size: 80%;
    margin: Opx;
    color: #0F0F0F;
}

p {
  font-weight: 600 ; 
  font-size: 80%;

}

body {
    padding: 50px 0px 0px 0px ;
    z-index: 0 ;
}

.navbar-dark {

    background-color: #512DA8 ;

}

#reserve-block {
    scroll-behavior: smooth;
  }


  
  